{% extends 'base.html' %}

{% block scripts %}
<script type="text/javascript" src="/static/js/chat.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div id="chat-window">
        <ul id="message-list" class="container">
        </ul>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 10px;">
    <div class="col">
      <form class="input-group mb-3" id="message-input">
        <input type="text" class="form-control" placeholder="" />
        <div class="input-group-append">
          <input type="submit" class="btn btn-outline-secondary" value="Send" />
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="margin-top: 20px;">
    <div class="col">
      <button id="logout-button" type="button" class="btn btn-secondary">Logout</button>
    </div>
  </div>
</div>
{% endblock %}
